{% extends 'templates/index.html' %}

{% block content %}
    <form action="{% url 'change_post_url' post_update.id %}" method="post">
        {% csrf_token %}
        <div>
            <label for="id_1">Add title:</label>
            <input type="text" name="title" id="id_1" value="{{ post_update.title }}">
        </div>
        <div>
            <label for="id_2">Write text:</label>
            <input type="text" name="text" id="id_2" value="{{ post_update.text }}">
        </div>
        <button type="submit">Change</button>
    </form>
{% endblock %}