{% extends 'templates/index.html' %}

{% block content %}
    <form action="{% url 'create_post_url' %}" method="post">
        {% csrf_token %}
        <div>
            <div>Title</div>
            {{ post_data_form.title }}
        </div>
        <div>
            <div>Text</div>
            {{ post_data_form.text }}
        </div>
        <div>
            <div>Add tag</div>
            {{ post_data_form.tags }}
        </div>
        <div>
            <div>Add photo for post</div>
            {{ post_data_form.image }}
        </div>
{#        <div style="width: 600px">#}
{#            <lable>Choice Tag</lable>#}
{#            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">#}
{#                <option selected>#Tag</option>#}
{#                {% for tag in tags %}#}
{#                    <option value="{{ tag.id }}">#{{ tag.tag }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </div>#}
        <button type="submit">Send</button>
    </form>
{% endblock %}

