{% extends 'templates/index.html' %}

{% block content %}
    <div class="card" style="width: 50rem">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">For Misha Sorokin</h6>
            <p class="card-text">{{ post.text }}</p>
            <a href="#" class="card-link">Comment</a>
            <a href="#" class="card-link">Like</a>
            <div>
                <label>Tags:</label>
                {% for tag in tags %}
                    <a href="{% url 'get_tag_page_url' tag.tag %}">#{{ tag.tag }}</a>
                {% endfor %}
            </div>
            <a class="btn btn-primary" href="{% url 'update_post_url' post.id %}">
                Update post
            </a>
            <a class="btn btn-primary" href="{% url 'delete_post_url' post.id %}">
                Delete post
            </a>
        </div>


        <form action="{% url 'add_comment_url' post.id %}" method="post">
            {% csrf_token %}
            {{ form_comment }}
            <button type="submit">Add</button>
        </form>

        {% include 'posts/comments_list.html' %}

    </div>
{% endblock %}
