{% extends 'templates/index.html' %}

{% block content %}
    <div class="card" style="width: 50rem">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">For {{ post.user.username }}</h6>
            <p class="card-text">{{ post.text }}</p>
            <div style="display: flex; flex-direction: row">
                <button onclick="postLike()" style="background: none; border: none">
                    {% load static %}
                    {% if is_liked %}
                        <img style="height: 25px; width: 25px; justify-content: center; margin-right: 5px" src="{% static 'image/heart-solid.svg' %}" alt="...">
                    {% else %}
                        <img style="height: 25px; width: 25px; justify-content: center; margin-right: 5px" src="{% static 'image/heart-svgrepo-com.svg' %}" alt="...">
                    {% endif %}
                </button>
                <div style="margin-right: 30px;">{{ amount_like_post }}</div>
                <button type="button" onclick="showBlockComments()" class="card-link">Comment</button>
            </div>
            <div>
                <label>Tags:</label>
                {% for tag in tags %}
                    <a href="{% url 'get_tag_page_url' tag.tag %}">#{{ tag.tag }}</a>
                {% endfor %}
            </div>
            <a class="btn btn-primary" href="{% url 'update_post_url' post.id %}">
                Update post
            </a>
            <a class="btn btn-primary" href="{% url 'delete_post_url' post.id %}">
                Delete post
            </a>
        </div>
        <div id="blockComments" style="display: block">
            <form action="{% url 'add_comment_url' post.id %}" method="post">
                {% csrf_token %}
                {{ form_comment }}
                <button type="submit">Add</button>
            </form>
            {% include 'posts/comments_list.html' %}
        </div>
    </div>
    <script>
        function showBlockComments(){
            let blockComments = document.querySelector('#blockComments')
            if(blockComments.style.display === 'block'){
                blockComments.style.display = 'none'
            }else{
                blockComments.style.display = 'block'
            }
        }
        async function postLike(){
            await fetch('{% url 'post_like_url' post.id %}')
            console.log('{% url 'post_like_url' post.id %}')
            location.reload()
        }
    </script>
{% endblock %}
